
<div *ngIf="user" class="container">
  
  <div><h1>{{user.fullname}}</h1></div>
  <div ><img src="{{user.prof_pic_link}}" alt="{{user.prof_pic_alt}}" class="profpic"></div>
  
  <button id="files" onclick="document.getElementById('file').click();return false;" class="btn btn-default btn-lg">Change picture</button>
  
  <input type="file" (change)="profpic($event.target.files)"  value="choose picc" id="file" accept="image/*">
  <hr>
  <div *ngIf="admin==true">
    <button id="adminpanel" [routerLink]="['/adminpanel']" class="btn btn-success btn-lg">Admin panel</button><hr>
  </div>
  <div *ngIf="editData==false">
  <table >
    <tr>
    <td><h3>First name: {{user.fullname}} </h3></td>
    <td><h3>Last name: {{user.lastname}} </h3></td>
  </tr>
  <tr>
    <td><h3>Email: {{user.email}}</h3></td>
    <td><h3>Phone Number: {{user.phoneno}}</h3></td>
  </tr>
  <tr>
    <td><h3>User name: {{user.username}} </h3></td>
  </tr>
  </table> 
  <button (click)="editform()" class="btn btn-info btn-lg">Edit details</button>
  <div><br>
  <button *ngIf="changepassword==false" (click)="changepass()" class="btn btn-lg">Change password</button><br>
    <div *ngIf="changepassword==true">
       <form #form=ngForm (submit)="Validate()">
                <legend><h3>Change Your Password</h3></legend>
                <input type="password" placeholder="current Password" id="password" name="oldpassword" [(ngModel)]="oldpassword" required> <br><br>
                <input type="password" placeholder="New Password" id="newpassword" name="newpassword" [(ngModel)]="newpassword" required> <br><br>
                <input type="password" placeholder="Confirm Password" id="confirm_password" name="compassword" [(ngModel)]="compassword" required> <br><br>
                <button type="submit" class="btn btn-success btn-lg" [disabled]="!form.valid">Save</button>
                <button (click)="chngepasscancel()" type="reset" class="btn btn-lg">Cancel</button>
         </form>
         
    </div>
  </div>
</div>

<div *ngIf="editData==true">
  <table >
    <tr>
    <td><h3>Full name: <input type="text" name="fullname" placeholder="{{user.fullname}}" [(ngModel)]="fullname" > </h3></td>
    <td><h3>Last name: <input type="text" name="lastname" placeholder="{{user.lastname}}" [(ngModel)]="lastname" > </h3></td>
  </tr>
  <tr>
    <td><h3>Email:  <input type="email" name="email" placeholder="{{user.email}}" [(ngModel)]="email" > </h3></td>
    <td><h3>Phone Number: <input type="number" name="phoneno" placeholder="{{user.phoneno}}" [(ngModel)]="phoneno" > </h3></td>
  </tr>
  <tr>
    <td><h3>User name: {{user.username}} </h3></td>
  </tr>
 
  </table>
  <button (click)="saveform()" class="btn btn-success btn-lg">Save</button>
  <button (click)="cancel()" class="btn btn-default btn-lg">Cancel</button> 
</div>
  <hr>
  
  <button class="btn btn-danger btn-lg" (click)="deleteacc()">DELETE ACCOUNT</button>
  <hr>
  <h4>My Recipes</h4>
  <ul *ngFor="let recipies of recipe;let i = index" [attr.data-index]="i" class="add">
      <li *ngIf="recipies.status=='pending'" >
       <button [routerLink]="['/profile',recipies.recipename]" class="add" id="pending">
       <div id="menu">
       <img src="{{ recipies.imageUrl }}" id="menupic" alt="">
       <h1> {{ recipies.recipename }}</h1>
      <h4>likes:{{ recipies.likes  }}</h4>
      <h4>Status: {{recipies.status}}</h4>
      <h4>Administrator review: {{recipies.admincomment}}</h4>
      </div>
       </button>
     </li>
     <li *ngIf="recipies.status=='accepted'">
      <button [routerLink]="['/profile',recipies.recipename]" class="add" id="accepted">
      <div id="menu">
      <img src="{{ recipies.imageUrl }}" id="menupic" alt="">
      <h1> {{ recipies.recipename }}</h1>
     <h4>likes:{{ recipies.likes  }}</h4>
     <h4>Status: {{recipies.status}}</h4>
     <h4>Administrator review: {{recipies.admincomment}}</h4>
     </div>
      </button>
    </li>
    <li *ngIf="recipies.status=='rejected'">
      <button [routerLink]="['/profile',recipies.recipename]" class="add" id="rejected">
      <div id="menu">
      <img src="{{ recipies.imageUrl }}" id="menupic" alt="">
      <h1> {{ recipies.recipename }}</h1>
     <h4>likes:{{ recipies.likes  }}</h4>
     <h4>Status: {{recipies.status}}</h4>
     <h4>Administrator review: {{recipies.admincomment}}</h4>
     </div>
      </button>
    </li>
     </ul>
   
</div>


