
table{
    width: 90%;
    margin-left: 5%;

}
img{
    width: 300px;
    height: 300px;
}

.liked{
    margin-left: 5%;
    background-color: green;
}
.noliked{
    margin-left: 5%;
    
}
.back{
    margin-right: 5%;
}

.container{
    width: 60%;
    background-color: floralwhite;
    border-style: double;
    border-width: 5px;
    border-color: #545952;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;
    font-size: 5mm;
  }