
<div  id="particles-js" >
    <div class="container">
    <div class="content">
        <img src="../../../assets/images/other/logo.jpg" alt="" width="15%" >
        <h1>Rasarahasa</h1>
        <h3>Find food recipes quicky from rasarahasa. you can post your food recipes on rasarahasa. you can share delicious food recipes to your friends. 
        </h3>
    </div>
<div id="foodrecipes">
    <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/foodrecipe']"><h2>FOOD RECIPES</h2><h5>(click here)</h5></button>
</div>
</div>
</div>